*{
    font-family: sans-serif;
}

#header{
    display: flex;
    border-bottom: 1px solid black;
    flex-grow: 1;
}

#nav-brand{
    flex-grow: 1;
    padding-left: 5%;
}

.navi{
    padding: 10px;
}

.main{
    height: 100vh;
    text-align: center;
}


#first-section{
    justify-content: center;
    width: 60%;
    margin: auto;
}

#card-section{
    justify-content: center;
    display: flex;
}

.card-header{
    border-bottom: 1px solid black;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    flex-basis: 20%;
    background-color: lightgray;
}

.button{
    margin-bottom: 15px;
    background-color: lightblue;
    border-radius: 10px;
}

table{
    justify-content: center;
    width: 60%;
    margin: auto;
}

th,
td{
    border: 1px solid;
}

#footer{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    border-top: 1px solid black;
}

